[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
arcgis = "==1.7.1"
pyprt = "*"
notebook = "*"
vispy = "*"
PyQT5 = "*"
scipy = "*"
PyGEL3D = "*"
tornado = "*"

[requires]
python_version = "3.6"
